{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login/css/login.css'%}">
    <title>Autenticação</title>
</head>
<body>
    <div class="container">
        <form method="post">
            <h1>Login</h1>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name="email" placeholder="Digite seu email..." required>
            </div>
            <div class="form-group">
                <label for="password">Senha:</label>
                <input type="password" name="password" placeholder="Digite sua senha..." required>
            </div>
            <input type="submit" value="Enviar" class="submit-button">
            <p>Não tem uma conta? <a href="/auth/signup/">Crie uma aqui</a></p>
        </form>
    </div>
</body>
</html>
