{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
    <title>TaskFlow</title>
</head>
<body>
    <div class="container">
        <h1>TaskFlow</h1>
        <p>O TaskFlow é uma aplicação para gerenciamento de tarefas.</p>
        <p>Desenvolvido por <a href="https://github.com/https-richardy" target="_blank">https-richardy</a></p>
        <a href="/auth/" class="login-button">Acessar</a>
    </div>
</body>
</html>