@charset "UTF-8";

body {
    background-color: #333333;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
    background-color: #2a2a2a;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}
label {
    font-size: 1.2rem;
    margin-bottom: 10px;
}
input[type="text"],
input[type="password"] {
    background-color: #5f5f5f;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 1.2rem;
}
input[type="text"]:focus {
    outline: none;
    box-shadow: 0px 0px 5px #007BFF;
}
.submit-button {
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 12px;
}
.submit-button:hover {
    background-color: #0059FF;
}
p {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
}
a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0059FF;
}

select {
    background-color: #5f5f5f;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 1.2rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

select:focus {
    outline: none;
    box-shadow: 0px 0px 5px #007BFF;
}

select option {
    background-color: #2a2a2a;
    color: #FFFFFF;
}
